@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #0066cc;
  --orange: #ff4d00;
  --white: #ffffff;
  --light-gray: #e6e6e6;
  --dark-gray: #2b2b2b;
  --dark: #0a0a0a;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: var(--light-gray);
  color: var(--dark);
}
